---
layout: default
---
        <!-- Main Content -->
        <div id="main" class="site-main">
            <!-- Page changer wrapper -->
            <div class="pt-wrapper">
            <!-- Subpages -->
            <div class="subpages">

              <!-- Home Subpage -->
              <section class="pt-page" data-id="home">
              <div class="section-inner start-page-content">
                <div class="page-header">
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="photo">
                    <img src="{{ site.baseurl }}/images/photo.jpg" alt="soniwijaya" width="550" height="550">
                  </div>
                  </div>

                  <div class="col-sm-8 col-md-8 col-lg-8">
                  <div class="title-block">
                    <h1>{{ site.name }}</h1>
                    <div class="owl-carousel text-rotation">                                    
                    <div class="item">
                      <div class="sp-subtitle">Frontend-developer</div>
                    </div>
                    <div class="item">
                      <div class="sp-subtitle">Backend-developer</div>
                    </div>
                    <div class="item">
                        <div class="sp-subtitle">Software Engineer</div>
                      </div>
                    </div>
                  </div>

                  <div class="social-links">
                    <a href="https://www.linkedin.com/in/soni-wijaya-santoso/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://soniwijaya.github.io"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/soni.w.santoso"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/soniwijayasantoso/"><i class="fa fa-instagram"></i></a>
                  </div>
                  </div>
                </div>
                </div>
                
                <div class="page-content">
                  <div class="row">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="about-me">
                        <div class="block-title">
                          <h3>About <span>Me</span></h3>
                        </div>
                        {% if site.about %}
                        <p style="text-align:justify;">
                          {{ site.about }}
                        </p>
                        {% endif %}
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <ul class="info-list">
                        <li><span class="title">Address</span><span class="value">Jakarta, Indonesia</span></li>
                        <li><span class="title">e-mail</span><span class="value"><a href="mailto:soniwijaya59@yahoo.co.id">soniwijaya59@yahoo.co.id</a></span></li>
                        <li><span class="title">Freelance</span><span class="value available">Available</span></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </section>
            <!-- End of Home Subpage -->

            <!-- Blog Subpage -->
            <section class="pt-page" data-id="blog">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Blog</h2>
                </div>
                <div class="page-content">

                  <!-- Blog Posts Grid -->
                  <div class="blog-masonry two-columns">

                    <!-- Blog Post 1 -->
                    {% for post in site.posts %}
                    <div class="item">
                      <div class="blog-card">
                        <div class="media-block">
                          <a href="{{ site.baseurl }}{{ post.url }}">
                            <img class="post-image img-responsive" src="{{ site.baseurl }}/{{ post.header-img }}" alt="{{ post.title }}"/>
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">{{ post.date | date: "%d" }}</span><span class="month">{{ post.date | date: "%b" }}</span><span class="year">{{ post.date | date: "%Y" }}</span></div>
                          </a>
                        </div>
                        <div class="post-info">
                          <ul class="category">
                            <li><a>{{ post.categories }}</a></li>
                          </ul>
                          <a href="{{ site.baseurl }}{{ post.url }}"><h4 class="blog-item-title">{{ post.title }}</h4></a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- End of Blog Post 1 -->

                  </div>
                  <!-- Blog Posts Grid -->
                </div>
              </div>
            </section>
            <!-- /Blog Subpage -->

          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->
    </div>
   
