---
layout: default
---
<!-- Main Content -->
<div id="main" class="site-main">
        <!-- Single Page Content -->
        <div class="single-page-content">
          <div class="content-area">
            <div class="page-content">
              <!-- Blog Entry Content -->
              <div class="blog-post-main-image">
                <img class="post-image img-responsive" src="{{ site.baseurl }}/{{ page.header-img }}" alt="{{ page.title }}" width="932"/>
              </div>

              <div class="blog-post-content">
                <h1>{{ page.title }}</h1>

                <div class="entry-meta">
                  <span class="date"><a href="#"><i class="fa fa-fw fa-clock-o"></i> {{ page.date | date_to_long_string }}</a></span>
                  <span class="divider">|</span>
                  <span class="autor"><a href="#"><i class="fa fa-fw fa-user"></i> Soni Wijaya</a></span>
                </div>

				{{ content }}

              </div>
              <!-- End of Blog Entry Content -->
            </div>
          </div>
        </div>
        <!-- End of Single Page Content -->
      </div>
      <!-- /Main Content -->
    </div>